body {
	background: #C5C5C5;
}

/* =================== App Component =================== */
/* The header */
.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	position: absolute;
	width: 90%;
	margin: 5px 5%;
	color: #020044;
	left: 0;
	right: 0;
	top: 0;
	border-bottom: thin solid #000000;
}

/* main title */
h1 {
	padding-bottom: 0;
	margin-bottom: 0;
}

/* Navigation bar */
.App-header nav {
	display: flex;
	justify-content: space-around;
	align-content: center;
	width: 90%;
	margin: 5px 5%;
}

/* Navigation link */
.navLink {
	margin: 5px 20px;
	padding: 5px 10px;
	display: block;
}

/* Main content area */
.content {
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;
}

/* Link */
a {
	color: #0D336E;
}

/* =================== Home Component =================== */
/* Home container */
#dashboard {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: space-around;
}

/* Home page title */
h2 {
	color: #020044;
	font-size: 24px;
	margin: 5px 20% 15px;
}

/* Label for the questions-to-view select */
#selectLabel {
	margin: 10px 10px 10px 15%;
}

/* Questions-to-view select */
#viewQs {
	margin: 10px 15% 10px 10px;
}

/* Home page questions list container */
.questionList {
	border: thin solid #000000;
	border-radius: 10px;
	box-shadow: 3px 3px 7px 0 rgba(46, 61, 73, 0.5);
	padding: 10px;
	width: 35%;
	margin: 5px Calc((30% - 140px) / 4);
	align-self: stretch;
}

/* Home page questions list title */
h3 {
	color: #020044;
	text-align: center;
}

/* Home page questions list */
ul {
	list-style: none;
	margin: 0;
	padding: 0 5px;
}

/* Home page questions list item */
li {
	margin: 10px 5px;
	text-align: center;
	text-transform: capitalize;
	line-height: 1.4rem;
}

/* =================== Login Page Component =================== */
/* Login form */
#loginForm {
	border: thin solid #000000;
	border-radius: 10px;
	box-shadow: 3px 3px 7px 0 rgba(46, 61, 73, 0.5);
	padding: 10px;
	margin: 10px Calc((100% - 210px) / 2);
}

/* Login form dropdown */
#loginForm select {
	margin: 5px;
	padding: 2px;
}

/* Login form button */
#loginForm button {
	margin: 5px;
	padding: 2px 5px;
	border-radius: 5px;
	border: thin solid #000000;
}

/* =================== Question Component =================== */
/* Question container */
#questionContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: space-around;
}

/* Question component home page link */
#questionContainer a {
	padding: 0 10px 10px;
	margin: 0 0 0 5%;
}

/* Question component title */
#questionContainer h3 {
	padding: 0 10px 10px;
	margin: 0 35% 0 25%;
	font-size: 22px;
}

/* Question component answer container */
.answer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-content: space-around;
	padding: 10px;
	width: 35%;
	margin: 5px Calc((30% - 140px) / 4);
	align-self: stretch;
}

/* Question component answer button */
.answer button {
	padding: 10px;
	font-size: 18px;
	margin: 10px;
	border: none;
	border-radius: 10px;
}

/* Question component selected answer checkmark */
.selected {
	color: green;
	width: 30px;
}

/* Question component answer stats */
.stats {
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}

/* Question component answer stats text */
.stats div {
	padding:  5px;
}

/* =================== Leader Component =================== */
/* Leaderboard */
#leaderboard {
	margin: 5px 20%;
	border-collapse: collapse;
}

/* Leaderboard head */
thead {
	font-weight: bold;
}

/* Leaderboard row */
tr {
	line-height: 1.5em;
}

/* Leaderboard cell */
td {
	text-align: center;
	padding: 5px;
	border-style: solid;
	border-width: thin;
}